# Файл должен быть удален и поставлены сгенерированные api credentials  
# Файл должен носить название credentials.json
# Подробнее - https://cloud.google.com/iot/docs/how-tos/credentials/verifying-credentials
